

<!DOCTYPE html>
<html class="writer-html5" lang="en" >
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Post-workshop survey &mdash; CodeRefinery manuals  documentation</title>
  

  
  <link rel="stylesheet" href="../../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />

  
  
  
  

  
  <!--[if lt IE 9]>
    <script src="../../_static/js/html5shiv.min.js"></script>
  <![endif]-->
  
    
      <script type="text/javascript" id="documentation_options" data-url_root="../../" src="../../_static/documentation_options.js"></script>
        <script src="../../_static/jquery.js"></script>
        <script src="../../_static/underscore.js"></script>
        <script src="../../_static/doctools.js"></script>
        <script src="../../_static/language_data.js"></script>
    
    <script type="text/javascript" src="../../_static/js/theme.js"></script>

    
    <link rel="index" title="Index" href="../../genindex/" />
    <link rel="search" title="Search" href="../../search/" /> 
</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >
          

          
            <a href="../../" class="icon icon-home" alt="Documentation Home"> CodeRefinery manuals
          

          
          </a>

          
            
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../search/" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        
        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <p class="caption"><span class="caption-text">Learners</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../how-to-attend-online/">Attending an online workshop</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../how-to-attend-inperson/">Attending an online workshop</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../zoom-mechanics/">Zoom mechanics and signals (tutorial for learners)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../hackmd-mechanics/">Hackmd mechanics (tutorial for learners)</a></li>
</ul>
<p class="caption"><span class="caption-text">Helpers</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../helping-and-teaching/">Helper's guide (tutorial)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../breakout-rooms-helping/">How helpers manage breakout rooms (tutorial)</a></li>
</ul>
<p class="caption"><span class="caption-text">Instructors</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../presenting/">In-class checklist (checklist)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../teaching-tech-together/">Summary of the book &quot;Teaching Teach Together&quot; (reference)</a></li>
</ul>
<p class="caption"><span class="caption-text">Workshop organizers</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../workshop-requirements-inperson/">Workshop basic requirements (in person) (checklist)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../workshop-administration/">Workshop administration (reference)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../online-training/">Online training manual (tutorial, reference)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../indico-workshop-management/">Guide on how to use Indico (reference)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../icebreakers/">Icebreaker question ideas (reference)</a></li>
</ul>
<p class="caption"><span class="caption-text">Lesson designers</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../lesson-design/">Lesson design tutorial and reference</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../lesson-review/">Lesson review checklist</a></li>
</ul>
<p class="caption"><span class="caption-text">Misc</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../tech-docs/">Writing technical docs (reference)</a></li>
</ul>

            
          
        </div>
        
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../">CodeRefinery manuals</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../../" class="icon icon-home"></a> &raquo;</li>
        
      <li>Post-workshop survey</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            
              <a href="https://github.com/coderefinery/manuals/blob/master/templates/post-workshop-survey.md" class="fa fa-github"> Edit on GitHub</a>
            
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="post-workshop-survey">
<h1>Post-workshop survey<a class="headerlink" href="#post-workshop-survey" title="Permalink to this headline">¶</a></h1>
<div class="section" id="first-email">
<h2>First email<a class="headerlink" href="#first-email" title="Permalink to this headline">¶</a></h2>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span>Subject:  [CodeRefinery] 5-minute post-workshop survey

Dear CodeRefinery alumnus,

We hope that you enjoyed participating in a CodeRefinery workshop last semester and that it was 
beneficial for your work and research! We don’t keep an attendance list, so apologies to those 
of you who couldn&#39;t make it to the workshop...

Please help us to improve our course material and teaching methods by answering our very brief questionnaire at 
https://indico.neic.no/event/109/
about whether and how the CodeRefinery workshop affected how you develop code. 
All information you provide will be useful. Your participation is extremely valuable 
and will help us to develop the project further. The average time to fill the form is around 5 minutes.

Would you be interested in being a helper or instructor in future workshops? It&#39;s a great way to continue 
developing your skills and expanding your network! We&#39;re always interested in recruiting new helpers 
and instructors. If this sounds interesting to you, please get in touch by writing to 
support@coderefinery.org or join our chat: https://coderefinery.zulipchat.com

On behalf of the CodeRefinery team,
Thor 
</pre></div>
</div>
</div>
<div class="section" id="reminder-1-week-after-first-email">
<h2>Reminder 1 week after first email<a class="headerlink" href="#reminder-1-week-after-first-email" title="Permalink to this headline">¶</a></h2>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="n">Dear</span> <span class="nb">all</span><span class="p">,</span>

<span class="n">It</span><span class="s1">&#39;s us, CodeRefinery, again. We just want to send this one reminder to kindly ask you to participate </span>
<span class="ow">in</span> <span class="n">our</span> <span class="mi">5</span><span class="o">-</span><span class="n">minute</span> <span class="n">workshop</span><span class="o">-</span><span class="n">followup</span> <span class="n">survey</span><span class="o">.</span> <span class="n">To</span> <span class="n">participate</span><span class="p">,</span> <span class="n">please</span> <span class="n">go</span> <span class="n">to</span><span class="p">:</span>  
<span class="n">https</span><span class="p">:</span><span class="o">//</span><span class="n">indico</span><span class="o">.</span><span class="n">neic</span><span class="o">.</span><span class="n">no</span><span class="o">/</span><span class="n">event</span><span class="o">/</span><span class="mi">109</span><span class="o">/</span>

<span class="n">Sorry</span> <span class="k">for</span> <span class="n">spamming</span> <span class="p">(</span><span class="n">particularly</span> <span class="n">to</span> <span class="n">those</span> <span class="n">of</span> <span class="n">you</span> <span class="n">who</span> <span class="n">already</span> <span class="n">participated</span><span class="p">),</span> <span class="n">this</span> <span class="ow">is</span> <span class="n">the</span> <span class="n">last</span> 
<span class="n">you</span><span class="s1">&#39;ll hear from us regarding the survey!</span>

<span class="n">Cheers</span><span class="p">,</span>
<span class="n">Thor</span> 
</pre></div>
</div>
</div>
</div>


           </div>
           
          </div>
          <footer>
  

  <hr/>

  <div role="contentinfo">
    <p>
        
        &copy; Copyright 2020, The CodeRefinery team

    </p>
  </div>
    
    
    
    Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a
    
    <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a>
    
    provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  

  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>